*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/* header style */
.navbar{
    display: flex;
    justify-content:space-between;
    padding: 30px 100px;

}
.nav-menu{
    display:flex;
    justify-content: center;
    gap: 300px;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 25px;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: #575757;
}
.header-CTA{
    position: sticky;
    justify-content: center;
}
.primary-btn{
    background-color: #1D4ED8;
    color: #fff;
    padding: 12px 28px;
    border-radius: 6px;
    border-style: none;
    font-weight: bold;
}
/* hero banner style */
.hero-banner{
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./banner.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-repeat: no-repeat;
    max-width: 1366px;
    color: #fff;
    gap: 150px;
    padding: 30px 30px;
}
.hero-title{
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.hero-p{
    text-align: center;
}
.hero-button{
    display: grid;
    justify-content: center;
}